* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
  padding: 0;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  min-height: 100%;
}

/* Page Layout */

.columns {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 960px;
  margin-top: 25px;
}

input {
  width: 100%;
  padding: 20px;
}

.search-form {
  margin: 50px auto;
}

input.search {
  margin: 0;
  text-align: left;
  outline: 0;
  border: 1px solid gray;
  width: 100%;
  position: relative;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

.suggestions {
  width: auto;
}

.suggestions li {
  background: turquoise;
  border-bottom: 1px solid #d8d8d8;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

span.population {
  font-size: 15px;
}

.hl {
  background: #ffc600;
}

.name {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
}

.address_line_1 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 22px;
}

#mapid {
  margin-top: 60px;
  height: 450px;
}
