* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  margin: 10px;
}

.title {
  display: inline-block;
  background-color: rgba(0, 139, 139, 0.8);
  border-radius: 4px;
  padding: 10px 15px;
  display: flex;
  margin: 0;
  margin-bottom: 5px;
}

.menu-container {
  color: #fff;
  background-color: #5995da;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  border: 1px solid #fff;
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links {
  border: 1px solid #fff;
  display: flex;
  justify-content: flex-end;
}

.database {
  margin-left: auto;
}

.main {
  margin-left: 20px;
}

.header-container {
  color: #5995da;
  background-color: #d6e9fe;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group,
.github {
  align-self: flex-end;
  margin-bottom: 20px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
}

.first-item {
  order: 1;
}

.last-item {
  order: -1;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #d6e9fe;
  height: 200px;
  flex: 1;
}

.footer-three {
  flex: 2;
}

.footer-one,
.footer-three {
  background-color: #5995da;
  flex: initial;
  width: 300px;
}
